* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    text-align: center;
}

ul {
    margin: 0;
}
li {
    list-style: none;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #738;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template: calc(100vh / 5)/1fr;
    overflow-x: none;
}

.closebtn ,
.menu-toggle {
    display: none;
}

.nav {
    margin-top: 1.5rem;
}

.nav-list {
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    font-size: 1.2rem;
}
.nav-list li {
    padding: 0 1rem;
    line-height: 1.5rem;
}

img {
    width: 100%;
}

.container-image_image {
    margin-top: -15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container-image {
   
}

.container-image h1 {
    margin: 1.5rem 0 1rem;
}

.introduction-text {
    text-align: center;
    padding: 2rem 1rem;
    max-width: 620px;
    word-wrap: break-word;
    margin: 0 auto;
}
.introduction-text p {
    font-size: 1.5rem;
    font-size-adjust: unset;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact section {
    padding: 1rem 2rem;
    font-size: 1.4rem;
}

.contact a {
margin: 0 1rem 0;
font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    margin: 2rem 0 .5rem;
    font-size: 1.4rem;
    padding: 2rem 0 .5rem;
}